html {
    min-width: 320px;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar{
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

i {
    font-style: normal;
}

button {
    border: 0;
    color: inherit;
    font-family: inherit;
}

select,input{
    font-family: inherit;
    text-transform: none;
    outline: none;
}

h6,h5,h4,h3,h2,h1,p{
    margin: 0;
}

img{
    width: 100%;
}