.flex,
.row,
.row-r,
.column,
.column-r{
    display: flex;
}

.row{
    flex-direction: row;
}

.row-r{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-r{
    flex-direction: column-reverse;
}

.al-c{
    align-items: center;
}

.al-s{
    align-items: stretch;
}

.al-fe{
    align-items: flex-end;
}

.al-fs{
    align-items: start;
}

.jas-c{
    justify-content: center;
}

.jas-sb{
    justify-content: space-between;
}

.jas-sa{
    justify-content: space-around;
}

.jas-fe{
    justify-content: flex-end;
}

.jas-fs{
    justify-content: flex-start;
}

.f-wrap{
    flex-wrap: wrap;
}

.w100{
    width: 100%;
}