body {
  background-color: #F6F6F6;
}
header#topHeader {
  background-color: #000000;
  width: 80%;
  height: 68px;
  margin: auto;
  position: relative;
}

header#topSubHeader {
  background-color: #000000CC;
  width: 80%;
  height: 68px;
  margin: auto;
  position: relative;
}



/* RAMDEL Logo */
a#logoA {
  padding-left: 20px;
  padding-right: 40px;
}

/* Top Button: Games, Apps, etc */
.headerButtons {
  text-decoration: none;
  color: lightgray;
  font-size: 18px;
	font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.headerSubButtons {
  text-decoration: none;
  color: lightgray;
  font-size: 16px;
	font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.headerButtons:hover{
	color: white;
}

ul#menu li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
ul#menu {
  vertical-align: middle;
  margin: 0;
  margin-left: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

